@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap");
/* font-family: 'Noto Sans JP', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
/* font-family: 'Lato', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&display=swap");
/* font-family: 'EB Garamond', serif; */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus {
  outline: 0 !important;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  /* background-color: #EFEFEF; */
  background-color: #d9dce3;
  color: #181822;
  font-weight: 400;
  /* font-family: 'Lato', sans-serif; */
  font-family: "Noto Sans JP", sans-serif;
}

@media (min-width: 2000px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

a {
  text-decoration: none;
  color: #181822;
  font-weight: 500;
}

a:hover {
  color: #060608;
  text-decoration: none;
}

header {
  background-color: #d9dce3;
  /* background-color: #EFEFEF; */
  padding: 0 5rem;
  font-family: "EB Garamond", sans-serif;
  height: 4.5rem;
}

nav {
  display: flex;
  height: 4.5rem;
  width: 100%;
  align-items: center;
}

._nav-lg {
  display: flex;
  width: 100%;
  align-items: center;
  height: 100%;
}

._nav-lg .logo img {
  width: 70px;
}

.toggler {
  display: none;
}

._nav-lg .acct {
  margin-left: auto;
}

._nav-lg .acct a {
  display: inline-block;
  position: relative;
  margin-right: 1rem;
}

._nav-lg .acct a img {
  width: 20px;
  height: auto;
}

._nav-sm {
  display: none;
}

._nav-lg ._nav-list {
  margin-left: 10rem;
  display: flex;
}

._nav-lg ._nav-list ._nav {
  margin-left: 1rem;
}

._nav-lg ._nav-list ._nav a {
  font-size: 1.05rem;
  font-weight: 500;
  position: relative;
  display: inline-flex;
}

._nav-lg ._nav-list ._nav a::after {
  content: "";
  height: 1px;
  border-radius: 3px;
  background-color: rgba(252, 71, 72, 0.8);
  bottom: 0px;
  position: absolute;
  width: 0%;
  transition: 0.4s ease-in-out;
}
._nav-lg ._nav-list ._nav a.active::after {
  width: 100%;
}

._nav-lg ._nav-list ._nav a:hover::after {
  width: 100%;
}

@media (min-width: 768px) and (max-width: 1024px) {
    header{
        padding: 0 3rem;
    }
}


@media (min-width: 481px) and (max-width: 767px) {
    header {
      padding: 0 1rem;
      height: 4.5rem;
    }
  
    nav {
      display: flex;
      height: 4.5rem;
    }
  
    header.open nav {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      padding: 0 1rem;
      height: 4.5rem;
      background-color: #fff !important;
    }
  
    ._nav-lg ._nav-list {
      display: none;
    }
  
    ._nav-lg .acct {
      display: none;
    }
  
    ._nav-lg .toggler {
      display: block;
      margin-left: auto;
      width: 35px;
      height: auto;
      display: inline-flex;
      padding: 5px;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    }
  
    ._nav-lg .toggler span {
      display: block;
      width: 100%;
      height: 2px;
      border-radius: 2px;
      background-color: #28292a;
      margin: 3px;
      transition: all .5s ease-in;
      -webkit-transition: all .5s ease-in;
      -moz-transition: all .5s ease-in;
      -ms-transition: all .5s ease-in;
      -o-transition: all .5s ease-in;
  }
  
    ._nav-sm {
      display: flex;
      background-color: #f4f4f4;
      position: fixed;
      top: 4.5rem;
      left: 0;
      right: 0;
      overflow: hidden;
      height: 0;
      transition: 0.5s all ease-in-out;
      z-index: 3;
    }
  
    ._nav-sm ._nav-list {
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      padding: 2rem;
      opacity: 0;
      transition: opacity .3s ease-in;
      transition-delay: .7s;
      -webkit-transition: opacity .3s ease-in;
      -moz-transition: opacity .3s ease-in;
      -ms-transition: opacity .3s ease-in;
      -o-transition: opacity .3s ease-in;
  }
  
    ._nav-sm ._nav-list ._nav {
      margin: 0.5rem 0;
    }
    ._nav-sm ._nav-list ._nav a {
      font-size: 2rem;
      text-decoration: underline;
      text-decoration-color: #f44336;
      -moz-text-decoration-color: #f44336;
      text-decoration-thickness: 3px;
      text-decoration-skip-ink: none;
    }
  
    header.open ._nav-sm {
      height: 100%;
    }
  
    header.open ._nav-lg .toggler span:nth-child(1) {
      transform: rotate(37deg)  translateY(5px);
      transform-origin: center;
      -webkit-transform: rotate(37deg)  translateY(5px);
      -moz-transform: rotate(37deg)  translateY(5px);
      -ms-transform: rotate(37deg)  translateY(5px);
      -o-transform: rotate(37deg)  translateY(5px);
  }
    header.open ._nav-lg .toggler span:nth-child(2) {
      transform: rotate(-45deg)  translateY(-5px);
      transform-origin: center;
      -webkit-transform: rotate(-45deg)  translateY(-5px);
      -moz-transform: rotate(-45deg)  translateY(-5px);
      -ms-transform: rotate(-45deg)  translateY(-5px);
      -o-transform: rotate(-45deg)  translateY(-5px);
  }
    header.open ._nav-sm ._nav-list {
        opacity: 1;
    }
  }
 
  @media (min-width: 320px) and (max-width: 480px) {
    header {
      padding: 0 1rem;
      height: 4.5rem;
    }
  
    nav {
      display: flex;
      height: 4.5rem;
    }
  
    header.open nav {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      padding: 0 1rem;
      height: 4.5rem;
      background-color: #fff !important;
    }
  
    ._nav-lg ._nav-list {
      display: none;
    }
  
    ._nav-lg .acct {
      display: none;
    }
  
    ._nav-lg .toggler {
      display: block;
      margin-left: auto;
      width: 35px;
      height: auto;
      display: inline-flex;
      padding: 5px;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    }
  
    ._nav-lg .toggler span {
      display: block;
      width: 100%;
      height: 2px;
      border-radius: 2px;
      background-color: #28292a;
      margin: 3px;
      transition: all .5s ease-in;
      -webkit-transition: all .5s ease-in;
      -moz-transition: all .5s ease-in;
      -ms-transition: all .5s ease-in;
      -o-transition: all .5s ease-in;
  }
  
    ._nav-sm {
      display: flex;
      background-color: #f4f4f4;
      position: fixed;
      top: 4.5rem;
      left: 0;
      right: 0;
      overflow: hidden;
      height: 0;
      transition: 0.5s all ease-in-out;
      z-index: 3;
    }
  
    ._nav-sm ._nav-list {
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      padding: 2rem;
      opacity: 0;
      transition: opacity .3s ease-in;
      transition-delay: .7s;
      -webkit-transition: opacity .3s ease-in;
      -moz-transition: opacity .3s ease-in;
      -ms-transition: opacity .3s ease-in;
      -o-transition: opacity .3s ease-in;
  }
  
    ._nav-sm ._nav-list ._nav {
      margin: 0.5rem 0;
    }
    ._nav-sm ._nav-list ._nav a {
      font-size: 2rem;
      text-decoration: underline;
      text-decoration-color: #f44336;
      -moz-text-decoration-color: #f44336;
      text-decoration-thickness: 3px;
      text-decoration-skip-ink: none;
    }
  
    header.open ._nav-sm {
      height: 100%;
    }
  
    header.open ._nav-lg .toggler span:nth-child(1) {
      transform: rotate(37deg)  translateY(5px);
      transform-origin: center;
      -webkit-transform: rotate(37deg)  translateY(5px);
      -moz-transform: rotate(37deg)  translateY(5px);
      -ms-transform: rotate(37deg)  translateY(5px);
      -o-transform: rotate(37deg)  translateY(5px);
  }
    header.open ._nav-lg .toggler span:nth-child(2) {
      transform: rotate(-45deg)  translateY(-5px);
      transform-origin: center;
      -webkit-transform: rotate(-45deg)  translateY(-5px);
      -moz-transform: rotate(-45deg)  translateY(-5px);
      -ms-transform: rotate(-45deg)  translateY(-5px);
      -o-transform: rotate(-45deg)  translateY(-5px);
  }
    header.open ._nav-sm ._nav-list {
        opacity: 1;
    }
  }
  
  
  ._bdy {
  padding: 1rem 5rem;
}

._bdy h2 {
  margin-bottom: 2rem;
}

._bdy .form {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  grid-template-rows: auto 20px;
  gap: 50px;
}

.fields {
  grid-column: 2/3;
  grid-row: 1/2;
}

.fields ._groups {
  margin-bottom: 1rem;
}

._row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

._row ._groups {
  width: 45%;
}

._row ._groups ._input {
  width: 100% !important;
}

.fields ._groups label._label {
  width: 100%;
  display: block;
  font-weight: 500;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.fields ._groups ._input {
  height: 2.8em;
  border-radius: 4px;
  border: none;
  width: 100%;
  background-color: #f4f4f4;
  font-weight: 500;
  font-family: inherit;
  color: inherit;
  padding: 1px 4px;
  box-sizing: border-box;
}

input[type="color"] {
  height: 2.8em;
  border-radius: 4px;
  border: none;
}

.fields ._groups ._input:focus {
  border: 2px solid #bdc0c7;
}

.fields ._groups ._input.is-invalid {
  border: 1.5px solid #f44336;
}

.fields ._groups .invalid {
  color: #f44336;
  font-size: 0.7rem;
  margin: 0.5em 0;
}

.form ._btns {
  grid-row: 2/3;
  grid-column: 2/3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 3rem;
}

._btn {
  height: 3em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 2em;
  border: none;
  border-radius: 1.5rem;
  font-weight: 600;
  font-size: 0.85rem;
  margin-left: 0.6rem;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

._primary {
  background-color: #1c78d3;
  color: #d9dce3;
}

._primary:hover {
  background-color: #155697;
  color: #d9dce3;
}

._secondary {
  background-color: #bebebe;
  color: #181822;
}

._secondary:hover {
  background-color: #acacac;
  color: #181822;
}
